<!doctype html>
<html>
{% include "head.html" %}

<body>
{% include "header.html" %}

<section class="hero">
  <h1>Make a Local Difference</h1>
  <p>The NGI collective is a community hobby organization centered around FIRST robotics teams in the central North Carolina region.</p>
  <p>Contributing to the NGIC helps our teams purchase or replace equipment, travel to and from competitions, and explore new engineering avenues.</p>
  <p>A donation will get your name and logo on team equipment and uniforms, putting them in front of engineering-minded families and individuals in North Carolina.</p>
  <a href="https://collect.crowded.me/collection/ce040e8c-2e9e-4eaa-bdd8-4c23144020af" class="btn">Donate Now</a>
</section>
<div class="container">
  <section class="content">
    <h2>FTC</h2>
    <p>NGIC runs one FTC team every season.</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdRC3vQYeyEeLKkl_2HfrsvzEgLJkl0aeyzyIndKO0JasF9ng/viewform?usp=header" class="btn">Apply Here</a>
  </section>
  <section class="content">
    <h2>FLL Registration</h2>
    <p>Coming soon.</p>
  </section>
</div>

{% include "footer.html" %}
</html>
